<form class = "form" action="/match" method="post"></form>
<select name="age">
  <option value="18-29">18-29</option>
  <option value="30-49">30-49</option>
  <option value="50+">50+</option>
</select>
<br>
<select name="">
  <option value="horse-riding">Horse Riding</option>
  <option value="tennis">Tennis</option>
  <option value="squash">Squash</option>
  <option value="walking">Walking</option>
  <option value="baking">Baking</option>
  <option value="gaming">Gaming</option>
  <option value="theatre">Theatre</option>
  <option value="sewing">Sewing</option>
  <option value="rugby">Rugby</option>
  <option value="tinder">Tinder</option>
  </select>
<br>
<select name="gender">
  <option value="male">Male</option>
  <option value="female">Female</option>
  <option value="any">Gender is a Social Construct</option>
</select>
<br>
<div class = "button-div">
   <button class = "button"><input type="submit" value="Find My Budz"></button>
   </div>
</form>