<nav>
     <ul class="navigation">
       <div class="nav-right">
         <li class="title-eda size"><a href="/" class="burger">EATDA</a></li>
         <li class="title-eda"><a href="/list" class="burger">Food List</a></li>
       </div>
     </ul>
   </nav>