{{<header}}

<section class="column-2">
  <header class="title">Welcome to the interweb where you can find your own CyberBudz!</header></a>
    <p class="intro">You can find your match using the form below, just select your preferred hobby, age range, and gender / non-gender !</p>
    {{<form}}
  </div>
</section>

