<div class="container-main">
  <div class="welcome">Welcome to the interweb where you can find your own CyberBudz!</div>
  <div class="main-body">You can find your match using the form below, just select your preferred hobby, age range, and gender / non-gender !</div>
</div>