{{>header}}

<section class="column-2">
  <div class="title">Cyber Budz Match</div>
</div>

<div class="intro">
  Here are some Budz for you to contact.<br>
  Remember to ASK.<br>
  Be Accountable, Secruity-wise and Kind!<br>
</div>

<br>
{{>profile}}
<br>
</section>